<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tjpu.dao.NoticeMapper" >
	<resultMap id="BaseResultMap" type="com.tjpu.pojo.Notice" >
	  <id column="id" property="id" jdbcType="INTEGER" />
	  <result column="create_at" property="createAt" jdbcType="VARCHAR" />
	  <result column="context" property="context" jdbcType="LONGVARCHAR" />
	  <result column="status" property="status" jdbcType="TINYINT" />
	  <association property="user" javaType="com.tjpu.pojo.User" resultMap="userMap"/>
	</resultMap>
	<resultMap id="userMap" type="com.tjpu.pojo.User" >
	   <id column="id" property="id" jdbcType="INTEGER" />
	   <result column="phone" property="phone" jdbcType="CHAR" />
	   <result column="username" property="username" jdbcType="VARCHAR" />
	   <result column="password" property="password" jdbcType="CHAR" />
	   <result column="QQ" property="qq" jdbcType="VARCHAR" />
	   <result column="ucreate_at" property="createAt" jdbcType="VARCHAR" />
	   <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
	   <result column="power" property="power" jdbcType="INTEGER" />
	   <result column="last_login" property="lastLogin" jdbcType="VARCHAR" />
	   <result column="status" property="status" jdbcType="TINYINT" />
	</resultMap>
  <select id="getNoticeList" resultMap="BaseResultMap">
     select * from notice n,user u where n.user_id=u.id order by n.create_at desc
  </select>

	<select id="getUserIdByNoticeId" resultType="java.lang.Integer">
     select user_id from notice n INNER JOIN user u on n.user_id =u.id  where n.id = #{id,jdbcType=INTEGER}
  </select>
   <insert id="insertSelective" parameterType="com.tjpu.pojo.Notice" >
	 insert into notice(id,user_id,create_at,context,status) values(#{id},#{user.id},#{createAt},#{context},#{status})
  </insert>

</mapper>